@charset "UTF-8";

body {
    margin: 0 auto;
}

.menu {
    width: 65%;
    float: left;
}

.menu ul li {
    position: relative;
    padding-left: 40px;
    display: inline-block;
}

.menu ul li a:hover {
    color: rgb(167, 52, 177);
    border-bottom: 3px solid rgb(167, 52, 177) ;
}

.menu ul li a {
    color: rgb(61, 126, 0); 
    text-decoration: none;
    font-size: 30px;
    
}

.barra{
    width: 100%;
    height: 80px;
    background-color: rgb(195, 248, 230);
    border-bottom: 4px solid rgb(91, 187, 91);
}

.titulo {
    position: relative;
    top: -70px;
    text-align: center;
    font-size: 40px;
    font-family: unset;
    color: darkgreen;
}

.img-esquerda {
    position: relative;
    left: 20%;
    float: left;
}

.video {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.final {
    text-align: justify;
    font-size: 15px;
    position:relative;
		top:90%;
        width: 100%;
        height: 80px;
    background-color: rgb(195, 248, 230);
}
h3 {
    text-indent: 20px;
    margin-left: 10px;
    margin-right: 10px;
}



.um {
   position: relative;
   margin-top: 05%;
   margin-left: auto;
   margin-right: auto;
   width: 700px;   
}

.dois {
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
}

.tres {
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}


.formulario{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    margin-top: 5%;
    
}
.formulario p{
    width: 100%;
    font-size: 1.5em;
}
.field{
    width: 100%;
    margin: 20px -10px;
}
.field label, 
.field span{
    padding-left: 20px;
    font-size: 1.1em;
    display: block;
    width: 100%;
}
.radiobox label{
    width: auto;
    display: inline-block;
}
input[type=text],
input[type=email],
textarea{
    width: 100%;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
}
input#nao{
    margin-left: 30px;
}
textarea{
    line-height: 20px;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    display: block;
    background-color: #ccc;
    height: 35px;
    border: none;
    outline: 0;
    cursor: pointer;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}

h4 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    text-align: center;
    text-justify: auto;
    width: 700px;
    color: rgb(61, 126, 0);
}